# comment alo alo/ -> git khong theo doi thu muc alo
alo

# bo qua tat ca cac fil co duoi la .log
*.log

# bo qua file abc.xyz nhung van giu lai myfile.xyz
/*.xyz

# bo qua file abc.txt trong second_folder
second_folder/abc.txt

second_folder\my.txt